body{
    font-family: Arial, sans-serif;
}

h2{
    margin-left: 10px;
}

table{
    border-collapse: collapse;
    width: 500px;
}

th, td{
    border: 1px solid #999;
    padding: 6px;
}

thead th{
    background-color: #c04b46;
    color: white;
    text-align: left;
}

tbody td{
    background-color: #e6c6c4;
}

tbody td:first-child{
    background-color: #d7c4c3;
}